@use '../../style/base.scss';

.categorizedbox {
    position: fixed;
    width: 520px;
    border-radius: 8px;
    background-color: #ffffffD0;
    box-sizing: border-box;
    padding: 0 20px 60px;
    z-index: 99;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    font-size: 14px;
    color: #222;
    .topline {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .midtext {
            font-weight: 600;
        }
        .iconfont {
            font-size: 25px;
            cursor: pointer;
            user-select: none;
        }
    }
    .tpye1 {
        .one-line1 {
            margin-top: 20px;
            width: 100%;
            min-height: 50px;
            border-radius: 8px;
            box-sizing: border-box;
            border: 1px solid #fff;
            position: relative;
            padding: 10px 15px;
            display: flex;
            align-items: flex-start; /* 添加这一行 */

            flex-wrap: wrap;
            background-color: #fff;
            z-index: 100;
            .tptext {
                z-index: 99;
                width: 60px;
                height: 18px;
                background-color: #fff;
                position: absolute;
                line-height: 18px;
                top: -10px;
                left: 10px;
                border-radius: 8px;
                text-align: center;
                font-size: 13px;
            }
            .inp1 {
                flex: 1; /* 修改这一行 */
                height: 30px;
                border: 0;
                outline: none;
                background-color: #fff;
            }
            .inp2 {
                width: 100%;
                height: 80px;
                border: 0;
                outline: none;
                background-color: #fff;
                line-height: 20px;
                resize: none;
                font-family: 'micosoft';
            }
            .showlist {
                min-height: 30px;
                line-height: 30px;
                align-items: center;
                display: inline-flex; /* 修改这一行 */
                flex-wrap: wrap;
                .onekeyword {
                    height: 20px;
                    line-height: 20px;
                    padding: 0 10px;
                    background-color: #00aeec;
                    color: #fff;
                    border-radius: 4px;
                    margin: 5px 10px 5px 0;
                    position: relative;
                    z-index: 101;
                    .iconfont {
                        position: absolute;
                        top: -8px;
                        font-size: 12px;
                        cursor: pointer;
                        right: -5px;
                        color: rgb(199, 16, 16);
                    }
                }
            }
            // 子类获得focus时候
            &:focus-within {
                border-color: base.$activecolor;
                .tptext {
                    color: base.$activecolor;
                }
              }
        }
        .btnline {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            .btn {
                margin-top: 30px;
                width: 120px;
                height: 40px;
                width: 120px;
                text-align: center;
                height: 40px;
                line-height: 40px;
                color: #9499a0;
                font-size: 14px;
                background-color: base.$nobtn;
                border-radius: 4px;
                cursor: pointer;
                user-select: none;
            }
            .okbtn {
                margin-left: 20px;
                background-color: base.$readybtn;
                color: #fff;
                &:hover {
                    background-color: base.$btnc;                    
                }

            }
        }
    }
}