@use "../../style/base.scss";

.contentcomponent {
  width: 100%;
  .contentinfos {
    width: 100%;
    height: 112px;
    display: flex;
    padding-bottom: 24px;
    border-bottom: 1px solid #e3e5e7;
    .imgbox {
      width: 178px;
      height: 112px;
      div {
        margin-top: 10px;
        width: 100%;
        height: 102px;
        background-color: yellow;
      }
    }
    .infobox {
      margin-left: 18px;
      flex: 1;
      height: 112px;
    }
  }
  .contentinfo2 {
    width: 100%;
    height: 58px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e3e5e7;
    .titleline {
      width: 100%;
      height: 32px;
      line-height: 32px;
      font-size: base.$bigtitlefs;
      font-weight: base.$activeweight;
    }
    .infoline {
      margin-top: 10px;
      width: 100%;
      height: 16px;
      line-height: 16px;
    }
  }
  .content-conline {
    width: 100%;
    height: 34px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    .ccleft {
      height: 34px;
      display: flex;
      .sortbox {
        height: 34px;
        margin-right: 16px;
        padding: 0 15px;
        margin-right: 12px;
        background-color: base.$hovergrey;
        color: base.$btn2color;
        line-height: 34px;
        cursor: pointer;
        user-select: none;
      }
    }
    .ccright {
      height: 34px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      border-radius: 8px;
      border: 1px solid base.$nobtn;
      display: flex;
      padding: 0 12px;
      .contentsearch {
        height: 20px;
        width: 120px;
        margin-right: 10px;
        outline: none;
        border: 0;
      }
      .iconbox {
        height: 32px;
        width: 20px;
        line-height: 32px;
        text-align: center;
        cursor: pointer;
        user-select: none;
        .iconfont {
          &:hover {
            color: base.$activecolor;
          }
        }
      }
    }
  }
  .rea-content {
    margin-top: 24px;
    width: 100%;
    height: 2200px;
    @media (min-width: 2060px) {
      .viceocontentstyle {
        grid-template-columns: repeat(8, minmax(0, 1fr));
        background-color: pink;
      }
    }
    @media ((max-width: 2059px) and (min-width: 1801px)) {
      .viceocontentstyle {
        grid-template-columns: repeat(8, minmax(0, 1fr));
        background-color: blue;
      }
    }
    @media ((max-width: 1800px) and (min-width: 1601px)) {
      .viceocontentstyle {
        grid-template-columns: repeat(6, minmax(0, 1fr));
        background-color: red;
      }
    }
    @media ((max-width: 1600px) and (min-width: 1500px)) {
      .viceocontentstyle {
        grid-template-columns: repeat(6, minmax(0, 1fr));
        background-color: green;
      }
    }
    @media (max-width: 1500px) {
      .viceocontentstyle {
        grid-template-columns: repeat(5, minmax(0, 1fr));
        background-color: grey;
      }
    }
    .viceocontentstyle {
      width: 100%;
      height: 100%;
      display: grid;
      // grid-template-columns: repeat(8, minmax(0, 1fr));
      // grid-template-columns: repeat(6, 1fr);
      grid-gap: 20px;
      // 不设置行高的话，会拉伸
      grid-auto-rows: 190px; /* 后续行高度 */
    }
    .imgcontentstyle {
      width: 100%;
      height: 100%;
      //   background-color: red;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 20px;
    }
  }
}
