$bgc: #F1F2F3;
// 标题字体大小
$tfc: 16px;
// 正文字体
$fs: 14px;
// 大标题
$bigtitlefs: 24px;
// 深色
$fcd: #18191C;
// 浅色
$fcl: #9499A0;
// ok 按钮颜色
$btnc: #00AEEC;
// 未选定 ok 按钮颜色
$readybtn: #80DAF6;
// no 取消按钮
$nobtn: #E3E5E7;
// 选定颜色
$activecolor: #00AEEC;
// 选中时 weight
$activeweight: 700;
// 灰色边1框
$greyborder: #E3E5E7;

// hover grey
$hovergrey: #f6f7f8;

//
$btn2color: #61666D;