.unclassifyview {
  width: 100%;
  display: flex;
  .leffmenu {
    width: 240px;
    margin: 16px 18px 0 0;
  }
  .rightcontent {
    flex: 1;
    box-sizing: border-box;
    padding-bottom: 50px;
  }
}
